__pycache__
.#*
.DS_Store
.sass-cache
.tern-port
.vscode/
*.code-workspace
*.pyc
*.zip
build/*
coverage
dist/*
node_modules/*
papers/*
web-ext-artifacts/*
!dist/.gitkeep
!build/.gitkeep
!web-ext-artifacts/.gitkeep
waist_json_crosswalk.rb
