@import "reset.module";
@import "fonts.module";

$color-primary: #852E57;
$color-text: #111111;
$color-link: #da161f;
$color-fb: #365899;
$font-stack-regular: "GMSansC", Helvetica, sans-serif;
$font-stack-bold: "GMSansCBold", Helvetica, sans-serif;

body {
  width: 400px;
  max-width: 100%;
  height: 600px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $color-text;
}

div, body {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-bold;
  line-height: 1.1;
}

h2, p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: $font-stack-bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.3rem;
  font-weight: normal;
  font-family: $font-stack-bold;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.1rem;
  font-weight: normal;
  font-family: $font-stack-bold;
  margin-bottom: 10px;
}

p {
  font-family: $font-stack-regular;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0px;
  color: $color-text;
  font-size: 1.1em;
  line-height: 1.3;
  margin: 0.4rem 0;
}

b, strong {
  font-family: $font-stack-bold;
  font-weight: normal;
}

button {
  font-family: $font-stack-regular;
  font-size: 1rem;
  backgorund-color: white;
  appearance: none;
  -moz-appearance: none !important;
}

a {
  color: $color-text;
  border-bottom: 1px solid $color-text;
}

a:hover {
  color: $color-link;
  border-bottom: 1px solid $color-link;
}

label {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

select, option {
  font-size: 0.8rem;
  letter-spacing: 0;
  text-transform: none;
}

select {
  padding: 2px;
  padding-left: 0;
}

#popup {
  max-width: 100%;
}

#thankscontainer {
  width: 100%;
}

#thanksbar {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  border-top: 2px solid #ccc;
  font-family: $font-stack-bold;
  text-transform: uppercase;
  padding: 0.2em 0;
  letter-spacing: 1px;
}

#thanksbar:not(:empty) + #toggler {
  margin-bottom: 1rem;
}

#tabs {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
}

#container {
  border: none;
  margin-top: 55px; /* matches height of #tabs, which I switched from sticky to fixed befcause of a bug. */
  padding: 10px;
}

.toggle {
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 1;
  max-height: 100%;
  min-width: 120px;
  min-height: 54px;
  font-family: $font-stack-regular;
  border-bottom: 0.2rem solid white;
  p {
    padding: 0 5px;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    margin-top: 0.1rem;
  }
  b {
    // for the numerical badges
    background-color: $color-primary;
    color: white;
    border-radius: 2px;
    margin-left: 0.2rem;
    display: inline-block;
    font-size: 0.6rem;
    padding: 2px 2px 2px 3px;
    vertical-align: top;
    margin-top: 1px;
    min-width: 10px;
  }
  &.active, &:hover {
    border-bottom: 0.2rem solid $color-primary;
  }
}

[lang="de"] .toggle {
  font-size: 0.78rem;
}

.ad-container {
  font-size: 0.7rem;
  margin-bottom: 20px;
  border: 1px solid #efefef;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }
  input:focus {
    outline: none;
  }
  b.political {
    color: $color-primary;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.ad {
  font-size: 0.75rem;
  display: flow-root;
  transition: box-shadow 1s;
  a {
    pointer-events: none;
    color: $color-fb;
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
  }
  p, strong {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
  }
  strong {
    font-weight: bold;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
  }
  .advertiser {
    font-weight: 500;
  }
}

.ad-content a {
  pointer-events: none;
  cursor: default;
}

a:focus {
  outline: none;
}

.rater-question {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $font-stack-regular;
  display: inline-block;
  margin-right: 3px;
  font-size: 1em;
}

.rater,
b.political {
  padding: 8px 10px;
  border-bottom: 1px solid #dddfe2;
  margin-bottom: 5px;
}

.rater button,
#tos button,
#language .button {
  margin: 0 0.2rem;
  border: 1px solid #efefef;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.2rem 0.35rem;
  font-family: $font-stack-bold;
}

.rater button {
  font-size: 0.7rem;
  border: 1px solid $color-primary;
  color: $color-primary;
  background-color: white;
  font-family: $font-stack-regular;
  padding: 0.25rem 0.25rem 0.2rem 0.25rem;
  line-height: 1;
  &:hover {
    color: white;
    background-color: $color-primary;
  }
  &:last-child {
    margin-right: 0;
  }
}

.select-language, .select-country {
  display: block;
  margin-bottom: 0.5rem;
}

#tos button:hover,
#language .button:hover {
  background-color: darken($color-primary, 20%);
  border-color: darken($color-primary, 20%);
  color: rgba(255, 255, 255, 0.75);
}

.rater button:focus,
#language select {
  outline: none;
}

#tos {
  box-sizing: border-box;
  background-color: white;
  #main {
    padding: 0 10px;
  }
  #accept-box {
    border-top: 1px solid #dedede;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  #accept-box-firefox {
    display: none;
    @supports (-moz-appearance:none) {
      display: block;
      position: static;
      width: 100%;
      margin-bottom: 65px;
      @media (max-height: 600px) {
        display: none;
      }
    }
  }
  button {
    color: white;
    border-color: $color-primary;
    background-color: $color-primary;
    margin: 0.4rem auto;
    display: block;
  }
  #terms p {
    &:nth-last-of-type(1) {
      margin: 0.7rem 0;
      font-size: 0.8rem;
      b {
        background: none;
      }
    }
    &:last-of-type {
      margin-bottom: 3.5rem;
      // hacks to account for FF width when extension is
      // tucked into toolbar at small viewport sizes
      @supports (-moz-appearance:none) {
        @media (min-height: 601px) {
          margin-bottom: 0.7rem;
        }
      }
    }
  }
  h2 {
    font-size: 1.1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-bottom: 0.3rem;
    margin-top: 0.7rem;
  }
  p b {
    background-color: lighten($color-primary, 55%);
    padding: 3px 4px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
}

#language {
  margin-bottom: 1.5rem;
  select {
    width: 100%;
  }
  .button {
    border-width: 1px;
  }
}

#stories {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  ul {
    font-size: 1rem;
    list-style-type: none;
    list-style-position: outside;
    font-weight: 700;
    margin: 1rem auto;
  }
  ul li {
    background-color: lighten($color-primary, 55%);
    margin: 10px 0px;
    border-radius: 2px;
    padding: 8px 12px 12px 12px;
  }
  ul li p {
    margin: 0;
    line-height: 1.4;
  }
}

@import "ads.module";
